<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>
      <%= link_to "English", locale:"en" %>
      <%= link_to "Vietnamese", locale:"vi" %>
    </h1>
    <h2>
      <%= t(".PCY") %>
    </h2>

    <p>
      <%= t(".PCY2") %>
    </p>
  </body>
</html>